# Visual Studio
.vs/
*.suo
*.user
*.ipch
*.ncb
*.sdf
*.log

# CMake
CMakeFiles/
CMakeCache.txt
*.cmake

# Build directories
out/
build/

# Compiled binary files
*.dll
*.lib
*.exp
*.exe
*.so
*.dylib
*.pdb
*.obj

# System and temporary files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.TODO
